*.csharp linguist-detectable=true  
*.c linguist-detectable=true  
*.java linguist-detectable=true  
*.js linguist-detectable=false  
*.html linguist-detectable=true
*.css linguist-detectable=true 
*.xml linguist-detectable=true 
* text=auto eol=lf
*.png binary
*.jpg binary

CONTRIBUTORS.md merge=union
